html,
body,
div {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 2px;
    background-color: #d3b276;
}

h3 {
    margin: 0;
    padding: 0;
    background-color: #d3b276;
}

.titulo-2 {
    margin: 8px 0 0 0;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
    background-color: #d3b276;
}

.titulo-3 {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
    background-color: #d3b276;
}



.buttonbox {
    display: flex;
}

.buttonbox button {
    margin: 1px 2px;
    padding: 1px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.05em;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgb(253, 253, 253);
}


#overlay {
    width: 100%;
    height: 20px;

    position: absolute;
    background: rgb(247, 231, 91);
}

#btnSlide {
    background-color: #3017bd;
    color: #fff;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

#ui_main {
    height: calc(100% - 20px);
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

/* Codigo javascript, panel bottom-left */
#bottom_left_panel {
    grid-column-start: 1;
    grid-row-start: 2;
}

#top_center_panel {
    display: flex;
    align-items: center;
}

#bottom_center_panel {
    display: flex;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 2;
}

#right_panel {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
    height: 100%;
    overflow-y: scroll;
}

.table {
    display: table;
    width: 100%;
}

.row {
    display: table-row;
}

.cell {
    float: left;
    /* fix for  buggy browsers */
    display: table-column;
}

#pp {
    width: 100%;
    height: calc(100% - 20px);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    border: none;
    display: block;
}

#partidos,
#script {
    width: calc(100% - 5px);
    overflow-x: scroll;
    white-space: nowrap;
}

#fechaTabla, .partidosCat {
    padding: 5px 15px 5px 5px;
}

table.dataTable {
    width: 100%;
    border-collapse: collapse;

}

table.dataTable th,
table.dataTable td {
    padding: 2px;
    border: 1px solid black;
}

table.dataTable thead tr {
    background-color: #c28c29;
}

table.dataTable tbody tr:nth-child(4n+1),
table.dataTable tbody tr:nth-child(4n+2) {
    background-color: #f7f2be;
}
table.dataTable tbody tr:nth-child(4n+3),
table.dataTable tbody tr:nth-child(4n+4) {
    background-color: #f5e980;
}

pre {
    /*  for code in API spec. */
    background-color: #f1f1f1;
    padding: 0.5em 1em;
    margin: 1em 0;
    overflow-x: auto;
}

.fecha-hasta-superada {
    background-color: #ff8888;
}

div.formEl {
    display: inline-block;
    padding-right: 2px;
}
.formEl {
    font-size: 13px;
    -border: 1px black dotted;
}
.formEl.wm {
    width: 4%;
}
.formEl.w1 {
    width: 8%;
}
.formEl.w2 {
    width: 16%;
}
.formEl.w3 {
    width: 24%;
}
.formEl.w4 {
    width: 32%;
}
.formEl.w5 {
    width: 40%;
}
.formEl.w6 {
    width: 48%;
}
.formEl.w8m {
    width: 68%;
}
